/* BREAKPOINT TABLET 768px */

@media screen and (min-width: 768px) {
    .demo-section .col {
        width: calc(100% / 3 - 6rem / 3);
    }

    .demo-section div {
        justify-content: space-between;
    }

    .demo-section .col:nth-child(1) {
        width: calc((100% / 3 - 6rem / 3) * 2 + 3rem)
    }

    .benefit-section .col {
        width: calc((100% / 2) - 3rem / 2);
    }

}

/* BREAKPOINT DESKTOP 992px */

@media screen and (min-width: 992px) {
    .container {
        width: 70%;
        padding: 3rem 0;
    }

    .menu {
        display: block;
    }
    
}