/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* debug */
    border:1px solid black;
}

img {
    max-width: 100%;
}


:root {
    --font-size: 1.6rem;

}

html {
    font-size: 62.5%;
}

/* COMMON */

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    padding:3rem

}

ul li{
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.col {
    border-radius: 2rem;
    /* debug */
    min-height: 200px;
    width: 100%;
}

.row {
    flex-wrap: wrap;
    gap: 3rem;
}

/* utilities */


.flex-container {
    display: flex;
}



/* HEADER*/

header {
    background-color: rgb(0 132 253);
}


.navbar {
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size);
    /* debug */
    min-height: 80px;
}

.menu {
    display: none;
    font-size: var(--font-size);
}

/* MAIN */

/* demo section  */

.demo-section .col {
    background-color: hsl(207.57deg 100% 85.49%);
}

.demo-section .col:nth-child(1) {
}

/* planning section  */

.planning-section {
    background-color: rgb(151 146 228 );
}

.planning-section .col {
    background-color: white;
}

 /* testimonials section  */
    .testimonials-section .col{
        background-color: rgb(151 146 228 );

    }

    .testimonials-section .col:nth-child(1) {
        background-color: white;
    }
/* benefit section */

.benefit-section {
    background-color: rgb(151 146 228 );
}

.benefit-section .col {
    background-color: white;
}
/* about us section */
    .about-us-section {
        font-size: var(--font-size);
    }

/* get started section  */

/* FOOTER */