/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* debug */
    /* border:1px solid black; */
}

img {
    max-width: 100%;
}


:root {
    --font-size: 1.6rem;

}

html {
    font-size: 62.5%;
}

/* COMMON */

body {font-family: 'PT Sans', sans-serif;
}



/* layout */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    padding:3rem;

}

ul li{
    list-style-type: none;
}



.col {
    border-radius: 2rem;
    /* debug */
    min-height: 200px;
    width: 100%;
}

.row {
    flex-wrap: wrap;
    gap: 3rem;
}

.btn {
    display: inline-block;
    text-decoration: none;
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 2rem;
}
/* utilities */


.flex-container {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.text-align-center {
    text-align: center;
}
.justify-content-center {
    justify-content: center;
}


.position-relative {
    position: relative;
}
/* HEADER*/

header {
    background-color: rgb(0 132 253);
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 100%;
}


.navbar {
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size);
    /* debug */
    min-height: 80px;
    
}

.menu {
    display: none;
    font-size: var(--font-size);
}

.menu a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.menu-list {
    gap:3rem;
    align-items: center;
}

.menu-list li:nth-child(5) a{
    background-color: white;
    color: black;
    padding: .8rem 3rem;
    
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  
 
  .hamburger-menu:active .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger-menu:active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu:active .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  

/* MAIN */

/* demo section  */


.demo-section {
    margin-top: 12rem;
}



.demo-section .col {
    background-color: hsl(207.57deg 100% 85.49%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-size: var(--font-size);
    padding: 5rem  2rem 0 2rem;
    }


.demo-section .col > div:first-of-type > * {
        margin-bottom: 2rem;
        width: 100%;
        line-height: 3rem;
    }

  

.demo-section .col:nth-child(1) {
    flex-direction: column;

}

.demo-section .col:nth-child(1) img {
    margin-top: 2rem;
    /* debug */
    width: 200px;
}

.demo-section .col div > i {
    font-size: 8rem;
    color: hsl(208.7deg 100% 49.61%);
    padding-bottom: 3rem;
}


.demo-section h3 {
    font-size: 2rem;
    color: hsl(208.7deg 100% 49.61%);
}

.app-store {
    background-color:hsl(208.7deg 100% 49.61%);
    font-weight: bold;
    color: white;
    padding: .5rem 5rem;
}


.app-store i {
    font-size: 2rem;
    margin-right: 1rem;
}

/* planning section  */

.planning-section {
    background-color: rgb(151 146 228 );
    padding: 5rem 0;
}

.planning-section h3 {
    font-size: 3rem;
    margin-top: 5rem;
}
.planning-section p {
    font-size: var(--font-size);
    margin-top: 3rem;
}

.planning-section .col {
    font-size: var(--font-size);
}

.planning-section .col:nth-child(1) {
    color: white;
    text-align: center;
    padding: 3rem;
    line-height: 4rem;
    font-style: italic;
   
}

.planning-section .col:nth-child(2) {
    background-color: white;
    text-align: center;
    padding: 3rem;
    line-height: 4rem;
    font-style: italic;
   
}

.fa-arrow-down-long {
    display: inline-block;
    background-color: #9792e4;
    color: black;
    height:4rem;
    width:4rem;
    border-radius: 50%;
    padding-top: 1.2rem;
    margin-top: 4rem;

}

.planning-section a {
    align-items: center;

} 
   





 /* testimonials section  */
    .testimonials-section .col {
        background-color: rgb(151 146 228 );
        color: white;
        width: 100%;
        align-items: center;
        padding: 3rem;
    }

 

    .testimonials-section img {
        border-radius: 50%;
        width: 200px;
        height:200px ;
        object-fit: cover;
    }

  


    .testimonials-section div:first-of-type {
        line-height: 2.5rem;
        text-align: center;
        font-size: var(--font-size);

    }

    .testimonials-section h5 {
        margin-top: 2rem;
        font-size: 2rem;
    }



    .testimonials-section h4 {
        font-size: 1.8rem;
        margin-top: 4rem;
    }

    .testimonials-section h2 {
        color:rgb(151 146 228 );
        font-size: 3.5rem;
        font-weight: bold;
        margin: 3rem 0;
        line-height: 4rem;
    }

    .testimonials-section p {
        font-size: var(--font-size);
        width: 100%;
        margin-top: 2rem;
        
    }

    .testimonials-section .row:last-child {
        margin-bottom:5rem;
    }



/* benefit section */

.benefit-section {
    padding-top: 5rem;
    background-color: rgb(151 146 228 );
}

.benefit-section .col {
    background-color: white;
    padding: 3rem;
    align-items: flex-start;
}

.benefit-section h3 {
    color: white;
    font-size: 3rem;
    margin: 4rem 0;
    text-align: center;
}

.benefit-section h5 {
    font-size: 5rem;
    margin-top: 3rem;
    color: rgb(151 146 228 );
    text-align: left;
}


.benefit-section h4 {
    font-size: 3rem;
    margin-top: 3rem;
    color: rgb(151 146 228 );
    text-align: left;
}

.benefit-section p {
    font-size: var(--font-size);
    margin-top: 3rem;
    color: rgb(55, 52, 52);
    text-align: left;
    line-height: 3rem;
}

/* about us section */
    .about-us-section {
        font-size: var(--font-size);
    }


    .more {
       background-color: hsl(243.66deg 60.29% 73.33%);
       color: white;
       width:2rem;
       font-size: 1.5rem;
       width: min-content;
       padding:.3rem 3rem;
       margin-top: 3rem;
       text-decoration: none;
       border-radius: 2rem;
       display: inline-block;
       
    }
/* get started section  */

.about-us-section  {
    margin-top: 5rem;
}


.about-us-section h3 {
    font-size: 4rem;
    color: rgb(151 146 228 );
}


.linkedin-btn {
    font-size: 1.5rem;
    width:minS-content;
    padding:.8rem 3rem;
    margin-top: 3rem;
    text-decoration: none;
    border-radius: 2rem;
    display: inline-block;
    background-color: rgb(151 146 228 );
    color: white;

}

.about-us-section img {
    border-radius: 50%;
}

.about-us-section h6{
    color: rgb(151 146 228 );
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.about-us-section .fa-quote-left {
    color: rgb(151 146 228 );
    font-size: 6rem;
    position: absolute;
    right: 3rem;

}

.about-us-section p {
    line-height: 3rem;
    margin-top: 3rem;
}

.about-us-section p:last-of-type{
    margin-top: 7rem;
    margin-bottom: 4rem;
}


/* get-started section  */
.get-started {
    background-color: hsl(243.66deg 60.29% 73.33%);
    color: white;
}


.get-started li {
    margin-bottom: 4rem;
}

.get-started li:first-of-type {
    color: #b5b1ef;
    font-size: 2.5rem;
    margin-top: 3rem;
}

.get-started li:nth-of-type(2) {
    font-size: 3rem;
    line-height: 3rem;
}

.get-started li:nth-of-type(3) {
    font-size: 6rem;
    color: #fdc15f;
}

.get-started li:nth-of-type(4) {
    font-size: 2rem;
}



.get-started li:nth-of-type(5) {
    background-color: white;
    font-size: 2.5rem;
    padding: 2rem 6rem;
    color: #b5b1ef;
    border-radius: 5rem;
}

.get-started li:nth-of-type(5) a {
    text-decoration: none;
}

.get-started li:nth-of-type(6) {
    font-size: 2rem;
}

.get-started li:nth-of-type(6) a {
    color: white;
}

.fa-circle {
    font-size: .5rem;
    margin: 0 .6rem;
    position: relative;
    bottom:.5rem;
}


/* FOOTER */

footer {
    background-color: hsl(0deg 0% 20%);
    /* debug */
    min-height: 20rem;
    color: white;
    font-size: var(--font-size);
    text-align: center;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

footer div:first-child {
    padding: 2rem 0 5rem;
}


footer a {
    color: rgb(44, 133, 162);
}